<h1>Add your restaurant:</h1>

<form action="/restaurants" method="post">
  <input type="text" name="name">
  <input type="text" name="address">
  <input type="number" name="rating">
  <input type="submit">
</form>
